body{
    background-color: rgb(150, 150, 252);
}

header nav{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

header nav form{
    display: flex;

}

form input[type="text"]{
    margin-right: 10px;
    padding:10px;
    border: none;
    border-radius: 7px;
}

form button[type="submit"]{
    padding:10px 30px;
    font-size: 18px;
    border: none;
    border-radius: 7px;
    background-color: rgb(104, 104, 238);
    color: white;
}

.dog-container h1{
    color: azure;
    text-align: center;
}

.dog {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    background: #f9f9f9;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

