nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    position: relative;
    top: -40px;
}

.link ul{
    display: flex;
}

li{
    margin: 0 20px;
    list-style: none;
    font-size: 20px;
    padding:8px 10px ;

}

li:hover{
   color: white;
   background-color: rgb(98, 98, 98);
   border-radius: 8px;
   /* outline: none; */

}



.logo img {
    height: 150px;
    width: 200px;

}