.box {
    color: rgb(0, 220, 147);
    /* background-color: black; */
    height: 500px;
    /* width: 500px; */
}



@media   (max-width:1400px) {
    .box {
        background-color: rgb(0, 0, 0);
    }

}
@media (max-width: 900px) {
    .box {
        background-color: rgb(20, 172, 28);
    }
}

@media  (max-width: 599px) {
    .box {
        background-color: rgb(172, 20, 20);
    }
}

