/* *{
    margin: 0;padding: 0;
} */

.cards{
    display: flex;
    padding: 10px 20px;
    margin-left: 200px;
}


.card0{
    box-shadow:   12px 23px 32px -3px black;
    
    padding: 5px;
    height: 350px;
    width: 290px;
    background-color: rgb(239, 239, 239);
    margin: 20px;

    border: 2px solid black;
    border-radius: 10px;
    
  
}

.content h3{
    font-size: 20px;
}

.button button{
    font-size: 20px;
    color: white;
    background-color: rgb(73, 73, 73);
    border-radius: 8px;
    padding:2px 4px;
    margin-right: 10px;

}

.header{
    background-color: black;
    color: white;
}
